<%- include('../partials/header')%>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Products</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Product</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                View Products
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row el-element-overlay">
      <% Product.map((val)=>{ let
      {image,id,productTitle,productPrice,productDescription} = val %>
      <div class="col-lg-3 col-md-6">
        <div class="card" >
          <div class="el-card-item">
            <div class="el-card-avatar el-overlay-1">
              <img
                src="/<%= image %>"
                alt="<%= productTitle %>"
                height="300px"
                width="300px"
                class="img-fluid"
              />
              <div class="el-overlay">
                <ul class="list-style-none el-info">
                  <li class="el-item">
                    <a
                      class="btn default btn-outline image-popup-vertical-fit el-link"
                      href="/<%= image %>"
                      ><i class="mdi mdi-magnify-plus"></i
                    ></a>
                  </li>
                  <li class="el-item">
                    <a
                      class="btn default btn-outline el-link"
                      href="javascript:void(0);"
                      ><i class="mdi mdi-link"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="el-card-content">
              <h4 class="text-start ps-2">Name : <%= productTitle %></h4>
              <h5 class="text-start ps-2">Price : <%= productPrice %></h5>
              <p class="text-start ps-2"><%= productDescription %></p>
              <div class="text-start ps-2">
                <a
                  href="/product/deleteProduct/<%= id %>"
                  class="btn text-danger"
                  ><i class="fas fa-trash-alt fs-3"></i
                ></a>
                <a href="/product/editProduct/<%= id %>" class="btn text-info"
                  ><i class="far fa-edit fs-3"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->

  <%- include('../partials/footer')%>
</div>
